.stepper-text {
    color: whitesmoke;
}
.stepper-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.tooltip {
    position: absolute;
    width: 100%;
    height: 100%;
}
::ng-deep .mat-tooltip {
    font-size: 15px !important;
}

::ng-deep .mat-tab-header {
    border-bottom: none;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: whitesmoke;
    height: 3px;
}

.mat-tab-group {
    height: 61px;
    box-shadow: rgb(0 0 0 / 25%) 0px 0.0625em 0.0625em, rgb(0 0 0 / 25%) 0px 0.125em 0.5em, rgb(255 255 255 / 10%) 0px 0px 0px 1px inset;
}
::ng-deep .mat-tab-label {
    height: 60px !important;
}
.tab-index {
    width: 24px;
    height: 24px;
    background: whitesmoke;
    color: #393a3b;
    border-radius: 50%;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.tab-group {
    width: fit-content;
    box-shadow: none;
}