<div class="navbar">
    <!-- Logo -->
    <div class="logo-wrapper"
        (click)="redirectToHome()">
        <h1>MyFitnessApp</h1>
    </div>
    <!-- Login / Logout -->
    <div class="basic-user-info" *ngIf="dataStateService.currentUrl.getValue() != 'login'
     && dataStateService.currentUrl.getValue() != 'register'">
        <ng-template #login>
            <h3 (click)="redirectToLogin()">Login</h3>
        </ng-template>
        <!-- If user logged in -->
        <div *ngIf="user; else login">
            <h3>{{user.name}}</h3>
            <h4>{{user.email}}</h4>
            <h3 (click)="logout()">Log Out</h3>
        </div>
    </div>
</div>
