.login-card {
    width: 500px;
}
.row-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.full-width {
    width: 100%;
}
input {
    border: none;
    padding: 12px !important;
    border-radius: 8px;
}